body {
  /* background-color: rgb(43, 40, 58); */
  margin: 0;
  font-family: "Poppins", sans-serif;
  overflow: visible;
  display: grid;
  grid-template-rows: 100px 1fr 100px;
}

nav {
  display: flex;
  padding: 20px;
  justify-content: space-between;
}

.profile-icon,
.tindog-icon,
.chat-icon {
  cursor: pointer;
}

.profile-display {
  position: relative;
}

.profile-pic {
  display: block;
  width: 97%;
  margin: auto;
  border-radius: 20px;
}

.profile-text {
  position: absolute;
  bottom: 15px;
  left: 35px;
  color: white;
}

.name {
  margin: 0;
  font-size: 3em;
}

.bio {
  margin: 0;
  font-weight: 400;
  font-style: bold;
  font-size: 2em;
  color: #b7b7b7;
}

.swipe-options {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.swipe-icons {
  padding: 35px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  overflow: visible;
}
.dislike-icon:hover,
.like-icon:hover {
  background-color: #dbfff4;
}

.liked-badge {
  display: block;
  position: absolute;
  top: 70px;
  left: 35px;
  height: 10vh;
  transform: rotate(-35deg);
}
